@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
}

header.header {
    background-color: white;
    display: inline;
}

.top-header {
    display: flex;
    justify-content: space-between;
    padding: 8px 48px;
    background-color: #072227;
    color: white;
}

.top-header a {
    text-decoration: none;
    color: white;
}

.top-header .auth a:nth-child(1) {
    margin-right: 16px;
}

nav.navbar {
    padding: 16px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    transition: 0.4s;
}

.nav-scroll {
    padding: 12px 48px !important;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(22, 28, 51, 0.08);
    z-index: 1;
}

.main-navbar ul {
    display: flex;
    margin: auto;
}

.main-navbar ul li {
    list-style-type: none;
    margin-right: 2em;
}

.main-navbar ul li a {
    text-decoration: none;
    color: #072227;
}

.main-navbar ul li a:hover {
    opacity: 0.6;
}

.btn {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    padding: 12px 18px;
    border-radius: 6px;
    transition: 0.3s;
    text-decoration: none;
}

.cta-navbar .btn {
    background-color: #35858b;
    color: white;
}

.cta-button {
    margin: 48px auto;
}

.cta-navbar .btn:hover,
.cta-button .btn:hover,
.profile-dicoding .btn:hover {
    background-color: #307479;
}

.toggle-menu {
    display: none;
    position: relative;
    z-index: 1;
}

.brand-navbar .nav-toggle {
    width: 20px;
    height: 14px;
}

.brand-navbar .checkbox {
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.nav-toggle span {
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    background: #35858b;
    border-radius: 0.5px;
    transition: all 0.4s ease;
}

.nav-toggle span:nth-child(1) {
    top: 0;
}

.nav-toggle span:nth-child(2) {
    top: 6px;
}

.nav-toggle span:nth-child(3) {
    top: 12px;
}

input[type="checkbox"]:checked ~ .nav-toggle span:nth-child(1) {
    top: 6px !important;
    transform: rotate(-135deg);
    background-color: #5e5e5e;
}

input[type="checkbox"]:checked ~ .nav-toggle span:nth-child(2) {
    opacity: 0;
}

input[type="checkbox"]:checked ~ .nav-toggle span:nth-child(3) {
    top: 6px !important;
    transform: rotate(135deg);
    background-color: #5e5e5e;
}

main {
    padding: 48px;
}

article#cta-landing,
article#information,
article#workspace,
article#ask {
    text-align: center;
    color: #072227;
    padding: 48px 0;
}

h2.cta-title {
    font-size: 42px;
    line-height: 1.2;
    margin: 0;
    background: linear-gradient(to right, #35858b, 70%, #aefeff, #4fbdba);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cta-title > span::before {
    content: "";
    animation: work infinite 20s;
}

@keyframes work {
    0% {
        content: "bekerja";
    }
    20% {
        content: "bekerja";
    }
    40% {
        content: "rapat";
    }
    60% {
        content: "ngobrolin bisnis";
    }
    80% {
        content: "belajar";
    }
    100% {
        content: "ngerjain tugas";
    }
}

.cta-desc {
    max-width: 600px;
    opacity: 0.8;
    margin: 24px auto;
}

.cta-desc p,
.information-desc p,
.workspace-desc p,
p.value-desc {
    line-height: 1.5;
}

.cta-button .btn {
    background-color: #35858b;
    color: white;
    padding: 12px 24px;
}

.information-desc,
.workspace-desc {
    max-width: 929px;
    margin: 24px auto;
}

.cta-information a,
.cta-workspace a {
    text-decoration: none;
    font-weight: bold;
    color: #307479;
}

.cta-information a:hover,
.cta-workspace a:hover {
    text-decoration: underline;
}

.value-points {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

.value-points div {
    max-width: 360px;
}

.value-points p.value-title {
    font-weight: bold;
    margin: 8px auto;
}

.workspace-gallery {
    max-width: 1000px;
    margin: 32px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 8px;
}

.workspace-gallery a img {
    width: 100%;
    cursor: pointer;
    transition: 0.2s;
}

.workspace-gallery a img:hover {
    transform: translateY(-2%);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

h2.ask-title,
.ask-desc p {
    color: #072227;
}

.ask-desc p {
    max-width: 600px;
    margin: 24px auto;
    line-height: 1.5;
}

.cta-ask .btn {
    margin: 16px auto;
    background-color: #072227;
    color: white;
    width: 25%;
    display: block;
}

.cta-ask .btn:hover {
    background-color: #05161a;
}

footer {
    padding: 24px;
    background-color: rgb(53, 133, 139, 0.1);
}

footer p {
    text-align: center;
    color: #072227;
    opacity: 0.7;
    font-size: 14px;
}

@media screen and (max-width: 1024px) {
    nav.navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 16px 24px;
    }

    .nav-scroll {
        padding: 16px 24px !important;
    }

    .top-header,
    main {
        padding: 16px 24px;
    }

    article#information,
    article#workspace {
        text-align: left;
    }

    .main-navbar,
    .cta-navbar {
        display: none;
    }

    .show-navbar {
        display: block;
    }

    .main-navbar ul {
        flex-direction: column;
        margin: 16px 0;
        padding: 0;
    }

    .main-navbar ul li,
    .cta-navbar {
        margin: 16px 0;
    }

    .cta-navbar {
        margin: 0;
        width: 100% !important;
        text-align: center;
    }

    .cta-navbar .btn {
        display: block;
        width: 100%;
    }

    .brand-navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .brand-navbar .toggle-menu {
        display: block;
    }

    .brand-navbar .nav-toggle {
        display: block;
        position: absolute;
        top: 4px;
        right: 1px;
        z-index: -3;
    }

    h2.cta-title {
        font-size: 32px;
    }

    .brand-img img {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .top-header,
    main {
        padding: 16px;
    }

    .cta-ask .btn {
        width: 100%;
    }

    article#cta-landing,
    article#information,
    article#workspace,
    article#ask,
    aside {
        padding: 32px 0;
    }

    .cta-button a.btn {
        display: block;
        width: 100%;
        text-align: center;
    }

    .value-points {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin: 32px auto 16px auto;
        gap: 16px;
    }

    .value-points div {
        width: 100%;
        margin-bottom: 8px;
        text-align: left;
    }
}

@media screen and (max-width: 525px) {
    .top-header,
    main {
        padding: 16px 8px;
    }

    nav.navbar {
        border-bottom: 1px solid rgba(22, 28, 51, 0.08);
    }

    .brand-logo img {
        width: 140px;
    }

    .workspace-gallery {
        display: block;
        width: 100%;
        text-align: center;
    }

    .workspace-gallery img {
        margin-bottom: 8px;
    }
}
